[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a index.html
Type=Link
URL=https://github.com/nixi-awoo/omfgdogs/blob/master/index.html
Icon=mate-fs-bookmark
