[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a omfgdogs.ogg
Type=Link
URL=https://github.com/nixi-awoo/omfgdogs/blob/master/omfgdogs.ogg
Icon=mate-fs-bookmark
