[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a omfgdogs.mp3
Type=Link
URL=https://github.com/nixi-awoo/omfgdogs/blob/master/omfgdogs.mp3
Icon=mate-fs-bookmark
